.container{
    background-color:#fffffe;
    /* display: flex;
    flex-wrap: wrap;  */
    /*nowrap: esta por defecto, apreta los elementos en una linea*/
    /* justify-content: center; */
    /* flex-direction: column;  */
    /*row: en fila*/
    /* align-items: center; */
    /* padding: 10px; */
    /* border: 2px solid black; */
}

.container .column{
  margin-bottom: 80px;
}

/* Estilo de div - cajas */
.container .column .col{
    /* background-color: red; */
    /* width: 100px; */
    margin: 10px;
    /* text-align: center; */
    /* line-height: 75px; */
    /* font-size: 30px; */
    /* border: 2px solid black; */
}

.card-text{
  /* pre-wrap: permite cargar el texto con los espacios y saltos de linea por defecto */
  white-space: pre-wrap
}

.nav-link {
    /* color: red; */
    font-size: 30px;
}

@media only screen and (max-width: 600px) {
  img {
    width: 40%;
  }
}
@media only screen and (max-width: 480px) {
  img {
    width: 70%;
  }
}