body{
    background-color: black;
}

.container{
    /* background-color:#fffffe; */
    /* display: flex;
    flex-wrap: wrap;  */
    /*nowrap: esta por defecto, apreta los elementos en una linea*/
    /* justify-content: center; */
    /* flex-direction: column;  */
    /*row: en fila*/
    /* align-items: center; */
    /* padding: 10px; */
    /* border: 2px solid black; */
}


/* Estilo de div - cajas */
.container .column .col{
    /* background-color: red; */
    /* width: 100px; */
    margin: 10px;
    /* text-align: center; */
    /* line-height: 75px; */
    /* font-size: 30px; */
    /* border: 2px solid black; */
}


@media only screen and (max-width: 600px) {
  img {
    width: 40%;
  }
}
@media only screen and (max-width: 480px) {
  img {
    width: 70%;
  }
}